<div class="calendar-container">
    <p class="page-header">Overland Track Availability</p>
    <p class="page-description">Booking availability of the Overland Track by month</p>
    @if (availabilityData()) {
      <p class="last-updated">Up to date as of {{ availabilityData()?.lastUpdated }}</p>
    }
    <div class="calendar-headline">
      <div class="calendar-headline-month">
        {{ firstDayOfActiveMonth().monthShort }},
        {{ firstDayOfActiveMonth().year }}
      </div>
      <div class="calendar-headline-controls">
        <div class="calendar-headline-control" (click)="goToPreviousMonth()">
          «
        </div>
        <div
          class="calendar-headline-control calendar-headline-control-today"
          (click)="goToToday()"
        >
          Today
        </div>
        <div class="calendar-headline-control" (click)="goToNextMonth()">»</div>
      </div>
    </div>
    <div class="calendar-grid">
      @for (dayOfMonth of daysOfMonth(); track $index) {
        @if (dayOfMonth.month === firstDayOfActiveMonth().month) {
          <div
            [ngClass]="{
              'calendar-grid-cell': true,
              'calendar-grid-cell-active':
                activeDay()?.toISODate() === dayOfMonth.toISODate(),
              'calendar-grid-cell-inactive':
                dayOfMonth.month !== firstDayOfActiveMonth().month,
              'calendar-grid-cell-past': dayOfMonth < today().startOf('day'),
              'calendar-grid-cell-available': getAvailabilityStatus(dayOfMonth) === 'Available',
              'calendar-grid-cell-unavailable': getAvailabilityStatus(dayOfMonth) === 'Fully Booked' || getAvailabilityStatus(dayOfMonth) === 'Unknown'
            }"
            (click)="onDateClick(dayOfMonth)"
          >
            <div class="calendar-cell-day-date">
              <div class="calendar-cell-day">{{ dayOfMonth.toFormat('cccc') }}</div>
              <div class="calendar-cell-date">{{ dayOfMonth.toFormat('d MMM yyyy') }}</div>
            </div>
            <div class="calendar-cell-day-status-availability">
              <div class="calendar-cell-status">{{ getAvailabilityStatus(dayOfMonth) }}</div>
              <div class="calendar-cell-availability">{{ getAvailabilityText(dayOfMonth) }}</div>
            </div>
          </div>
        } @else {
          <div></div>
        }
      }
    </div>
    <div class="support-section">
      <p>Found the availability that you were after?</p>
      <a href="https://buymeacoffee.com/derrm024" target="_blank" class="coffee-link">☕ Buy me a coffee</a>
    </div>
</div>