<div class="calendar-container">
    <h1 class="page-header">Overland Track Availability</h1>
    <h2 class="page-description">Be first to know when spots open up for your preferred dates:</h2>
    <div class="button-group">
      <button class="notify-button" (click)="onSignUpClick()">Sign up for alerts</button>
      <button class="login-button" (click)="onLoginClick()">Already have an account? Login</button>
    </div>
    @if (availabilityData()) {
      <p class="last-updated">Calendar up to date as of {{ availabilityData()?.lastUpdated }}</p>
    }
    <div class="calendar-headline">
      <div class="calendar-headline-month">
        {{ firstDayOfActiveMonth().monthShort }},
        {{ firstDayOfActiveMonth().year }}
      </div>
      <div class="calendar-headline-controls">
        <div class="calendar-headline-control" (click)="goToPreviousMonth()">
          «
        </div>
        <div
          class="calendar-headline-control calendar-headline-control-today"
          (click)="goToToday()"
        >
          Today
        </div>
        <div class="calendar-headline-control" (click)="goToNextMonth()">»</div>
      </div>
    </div>
    <div class="calendar-grid">
      @for (dayOfMonth of daysOfMonth(); track $index) {
        @if (dayOfMonth.month === firstDayOfActiveMonth().month) {
          <div
            [ngClass]="{
              'calendar-grid-cell': true,
              'calendar-grid-cell-active':
                activeDay()?.toISODate() === dayOfMonth.toISODate(),
              'calendar-grid-cell-inactive':
                dayOfMonth.month !== firstDayOfActiveMonth().month,
              'calendar-grid-cell-past': dayOfMonth < today().startOf('day'),
              'calendar-grid-cell-available': getAvailabilityStatus(dayOfMonth) === 'Available',
              'calendar-grid-cell-unavailable': getAvailabilityStatus(dayOfMonth) === 'Fully Booked' || getAvailabilityStatus(dayOfMonth) === 'Unknown'
            }"
            (click)="onDateClick(dayOfMonth)"
          >
            <div class="calendar-cell-day-date">
              <div class="calendar-cell-day">{{ dayOfMonth.toFormat('cccc') }}</div>
              <div class="calendar-cell-date">{{ dayOfMonth.toFormat('d MMM yyyy') }}</div>
            </div>
            <div class="calendar-cell-day-status-availability">
              <div class="calendar-cell-status">{{ getAvailabilityStatus(dayOfMonth) }}</div>
              <div class="calendar-cell-availability">{{ getAvailabilityText(dayOfMonth) }}</div>
            </div>
          </div>
        } @else {
          <div></div>
        }
      }
    </div>
    <div class="support-section">
      <h4>Found the availability that you were after?</h4>
      <a href="https://buymeacoffee.com/derrm024" target="_blank" class="coffee-link">☕ Buy me a coffee</a>
    </div>
    <div class="facebook-section">
      <a href="https://www.facebook.com/groups/2042563289352427/" target="_blank" class="facebook-link">
        <img src="assets/facebook.png" alt="Facebook" class="facebook-icon">
      </a>
      <a href="https://parks.tas.gov.au/explore-our-parks/cradle-mountain/overland-track" target="_blank" class="parks-link">
        <img src="assets/tasparks.png" alt="Parks Tasmania" class="parks-icon">
      </a>
    </div>
</div>